<h1>Contact form</h1>

<form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">

    <div class="mb-4">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required>
        <div class="invalid-feeback">This field id required.</div>
    </div>

    <div class="mb-4 form-check">
        <label for="checkAdult" class="form-label">Are you over od age?</label>
        <input type="checkbox" name="checkAdult" class="form-check-input" id="name" [(ngModel)]="model.checkAdult" required>
        <div class="invalid-feeback">This field id required.</div>
    </div>


    <div class="mb-4">
        <label for="department" class="form-label">Department</label>
        <select name="department" id="" class="form-select form-select-sm" [(ngModel)]="model.department">
            <option selected>Open this select</option>
            <option value="Marketing">Marketing</option>
            <option value="Sales">Sales</option>
            <option value="Other">Other</option>

        </select>
        <div class="invalid-feeback">This field id required.</div>
    </div>

    <div class="mb-4">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" name="comment" id="" rows="4" placeholder="Leave a comment..." [(ngModel)]="model.comment" required></textarea>
        <div class="invalid-feeback">This field id required.</div>
    </div>

    <div class=" d-grid gap-2 col-4 float-end ">
        <button type="submit" class="btn btn-info btn-lg"> Send</button>
    </div>

</form>


<pre>

    {{contactForm.value | json}}
</pre>