<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'"></app-form-new-item>


    </div>
    <div class="col-md-8">
      <ul *ngFor="let city of cities">
        <li
          (click)="onCityClicked(city)"
          [ngClass]="{ 'alert alert-info': city === selection }"
        >
          {{ city }}
        </li>
      </ul>

    </div>
    <div class="col-md-4">
      <div *ngIf="selection">
        <p>your city is: {{ selection }}</p>

        <app-button
          (click)="onClear()"
          [color]="'blue'"
          [label]="'Clear your selection'"
          [selection]="selection"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<!-- <p>{{ title }} en domini code en angular</p>
<p>la resta {{5-5}}</p> -->

<!-- <img src="{{url}}" alt=""> -->

<!-- <p *ngIf="name">el nombre es:{{name}} </p>
<input type="text" [(ngModel)]="name"> -->

<!-- <li [ngStyle]="{'color': 'white', 'background-color':city === 'Madrid' ? 'blue' : 'green'}">{{city}}</li> -->

<!-- <button (click)="onClear()">Clear</button> -->

<!-- <app-button (click)="onClear()" [color]="'green'" [label]="'Clear your selection'"></app-button>
  <app-button (click)="onClear()" [color]="'orange'" [label]="'Clear your selection'"></app-button> -->
