<!-- <p>{{ title }} en domini code en angular</p>
<p>la resta {{5-5}}</p> -->

<!-- <img src="{{url}}" alt=""> -->

<!-- <p *ngIf="name">el nombre es:{{name}} </p>
<input type="text" [(ngModel)]="name"> -->

<ul *ngFor="let city of cities">
  <!-- <li [ngStyle]="{'color': 'white', 'background-color':city === 'Madrid' ? 'blue' : 'green'}">{{city}}</li> -->
 <li (click)="onCityClicked(city)" [ngClass]="{'selected': city === selection}">{{ city }}</li> 
 
</ul>

<div>
  <p *ngIf="selection"> your city is: {{ selection }}</p>
  <!-- <button (click)="onClear()">Clear</button> -->

  <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear your selection'" [selection]="selection"></app-button>
  <!-- <app-button (click)="onClear()" [color]="'green'" [label]="'Clear your selection'"></app-button>
  <app-button (click)="onClear()" [color]="'orange'" [label]="'Clear your selection'"></app-button> -->

</div>

<div class="container">


</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>